body{
    border: 2px solid;
    max-width: 80;
    margin: 20px auto;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    padding: 10px;
}
footer{
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

article, section > p, h1{
    text-align: justify;
    padding: 0 15px;
}
#capa{
    display: flex;
    justify-content: center;
}